target/classes/homework.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq"
	xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b95558d9-f9a0-482e-b73e-d040bb0b1bd2" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="1482dc7e-06f1-4646-a2e0-0c22fab6f4c1" name="Router" raml="HomeWork API.raml" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/addUser" action="post" content-type="application/json" flow-ref="addUserFlow" />
		</apikit:flow-mappings>
	</apikit:config>
	<db:config name="work_database" doc:name="Database Config" doc:id="dba4989e-3a87-4f0a-b529-338713896c9f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="123456" database="jh_health" />
	</db:config>
	<email:smtp-config name="SMTP" doc:name="Email SMTP" doc:id="4bdffb7c-e249-4de0-ad40-528ec8f1406d" >
		<email:smtp-connection host="smtp.qq.com" user="393443444@qq.com" password="aamswbnojrkdbige"/>
	</email:smtp-config>
	<flow name="homeworkFlow" doc:id="a992e5b8-1591-426b-b1ba-987c6e189c3d" >
		<http:listener doc:name="Listener" doc:id="7c8c17b5-2637-4593-b6d5-3aed09e20756" config-ref="HTTP_Listener_config" path="/admin/*" outputMimeType="application/json"/>
		<apikit:router doc:name="APIkit Router" doc:id="1752d470-5961-4578-ab75-750ee791835f" config-ref="Router"/>
	</flow>
	<flow name="addUserFlow" doc:id="f8bcb7db-66b0-4b75-ab39-fbb9f615a868" >
		<set-variable value="#[message.payload.username]" doc:name="Set Variable" doc:id="8ff9a3b1-a08f-40f1-8cfd-b0d71e2f4401" variableName="username"/>
		<set-variable value="#[message.payload.password]" doc:name="Set Variable" doc:id="9f01e2b4-6774-4367-80da-2553bce1ed68" variableName="password"/>
		<logger level="INFO" doc:name="Logger" doc:id="7511122e-5774-405c-8be1-a0f285f9ea35" message='"---------  START  ---------"'/>
		<logger level="INFO" doc:name="Logger" doc:id="ad43abf0-e9b8-4aa9-bb1f-664fb0127fde" message="#[vars.username]"/>
		<first-successful doc:name="First Successful" doc:id="d61d8a8c-0941-4893-b5c4-919b98acb891" >
			<route >
				<db:select doc:id="f88feb13-8c12-42bf-b91c-9e9688aac2dc" config-ref="work_database">
			<db:sql>select * from sys_user where user_name=:a and passwd = :b</db:sql>
			<db:input-parameters><![CDATA[#[{a:vars.username,b:vars.password}]]]></db:input-parameters>
		</db:select>
				<choice doc:name="Choice" doc:id="a0a9865a-d941-4d21-b7a3-9037175a27fb">
			<when expression="#[sizeOf(payload)&gt;0]">
				<logger level="INFO" doc:name="Logger" doc:id="92983f13-a53a-48f1-8196-86644b8077b7" message='"The account already exists and is ready to return to the page."'/>
				<set-payload value='#[payload.username]' doc:name="Set Payload" doc:id="64009674-ecb0-4a5a-8184-1ae13ec25b9f" />
				<logger level="INFO" doc:name="Logger" doc:id="044b08d9-68f1-4f44-8e61-8ee66124f73a" message='"sign in defeated: The account already exists!!!"' />
			</when>
					<otherwise>
						<try doc:name="Try" doc:id="97c03461-ffa2-427b-a131-00c7b7f23a02">
							<db:insert doc:name="Insert" doc:id="7547176c-7fb3-44db-af00-7c67843760f4" config-ref="work_database">
					<db:sql>insert into sys_user value  (&quot;99&quot;,:a,:b,&quot;1&quot;,null,null)</db:sql>
								<db:input-parameters ><![CDATA[#[{a:vars.username,b:vars.password}]]]></db:input-parameters>
				</db:insert>
							<email:send doc:name="Send" doc:id="c8d4d1a8-fb2d-4426-9b3c-df5e9bcbd6d8" config-ref="SMTP" fromAddress="393443444@qq.com" subject="Hello Mule">
								<email:to-addresses >
									<email:to-address value="gyfz0422@163.com" />
								</email:to-addresses>
								<email:body>
									<email:content ><![CDATA[#["<h1>send successful</h1>"]]]></email:content>
								</email:body>
								<email:attachments>
       						 #[{
        					  'json-attachment' : payload
     						   }]
    						    </email:attachments>
							</email:send>
							<set-payload value='"send E-mail successful"' doc:name="Set Payload" doc:id="26a44850-c27c-49ab-9824-ea702e46cded" />
							<error-handler >
								<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ec2f7845-f4bf-40ed-b161-8045d6c0e1f3" type="ANY">
									<logger level="INFO" doc:name="Logger" doc:id="07b88c12-5222-4904-bfda-84c97d837464" message='"DB or email error, Transaction rollback."'/>
								</on-error-propagate>
								<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6f182c7a-ff3a-4010-83b1-d16b215c5903" >
									<ee:transform doc:name="Transform Message" doc:id="d150e106-581e-4618-88e7-6acd78c3d6be" >
										<ee:message >
											<ee:set-payload ><![CDATA[%dw 2.0
output application/jsonvar error = ???

---
{
	"description": error.description,
	"errorType": error.errorType.namespace
}
]]></ee:set-payload>
										</ee:message>
									</ee:transform>
								</on-error-continue>
							</error-handler>
						</try>
			</otherwise>
			
		</choice>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="5977bf99-3fe0-4ee9-814b-6cc0cd094d82" message='"This route is never going to be executed"'/>
			</route>
		</first-successful>
		<logger level="INFO" doc:name="Logger" doc:id="e43ecfee-3bab-43e5-b046-fc025936f92d" message='"------------   END   ---------------"'/>
	</flow>
	<flow name="loginFlow" doc:id="4bcdf72f-313b-4a88-bd5f-b890d6bf9775" >
		<set-variable value="my first variable" doc:name="Set Variable" doc:id="3a8f88ff-1539-4f65-a4ac-8b38879d8074" variableName="username"/>
		<set-variable value="my first variable" doc:name="Set Variable" doc:id="197547dc-34c3-4ef5-a542-968a2269abff" variableName="password"/>
		<logger level="INFO" doc:name="Logger" doc:id="10b7de33-51cb-4df7-b340-eb472685cbdf" message='"---------   START   ---------"'/>
		<logger level="INFO" doc:name="Logger" doc:id="746d10ea-21e0-48c8-9133-200552a539c3" message="#[vars.username]"/>
		<first-successful doc:name="First Successful" doc:id="0c45c15c-8723-4e9e-bbee-09c72dc67cf0" >
			<route >
				<try doc:name="Try" doc:id="6d9b566e-0b23-4779-8fa4-7f53a9826534" >
					<db:select doc:name="Select" doc:id="49593e7a-0f6d-4ef3-a969-4e01dd603c3a" config-ref="work_database">
						<db:sql >select * from sys_user where user_name = :a and passwd = :b</db:sql>
						<db:input-parameters ><![CDATA[#[{a:vars.username,b:vars.password}]]]></db:input-parameters>
					</db:select>
					<logger level="INFO" doc:name="Logger" doc:id="31d69f05-0d24-4cad-8e70-ec2e69be1e53" message='"login failure."' />
					<set-payload value='"login failure"' doc:name="Set Payload" doc:id="18f19395-d635-422b-bc35-158d872b6690" />
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="da44ed2a-1262-4363-9f06-a84557215701" type="ANY">
							<logger level="INFO" doc:name="Logger" doc:id="a5250fb0-91d9-42c2-afd5-4fc17b5f0368" message='"The query fails."'/>
						</on-error-propagate>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f46535e4-4fa5-4345-8e39-ac7720aec18a" >
							<ee:transform doc:name="Transform Message" doc:id="2427a6fa-b280-4c6e-a7be-ee1d2b027259" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var error = ???

---
{
	"description": error.description,
	"errorType": error.errorType.namespace
}
]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="2c2b30c2-5b05-4547-9b70-5f76a2ec3ec4" message='"This route is never going to be executed"'/>
			</route>
		</first-successful>
		<logger level="INFO" doc:name="Logger" doc:id="b9138907-6547-4b78-89fe-ee08bc768ea9" message='"------------   END   ---------------"'/>
	</flow>
	<flow name="updateUserInfoFlow" doc:id="d8237902-52e0-45b2-bb87-9cb5d8bb0683" >
		<logger level="INFO" doc:name="Logger" doc:id="cb8ab5fb-03e1-485b-81e1-0bb3fbccb078" message='"---------   程序开始   ---------"'/>
		<logger level="INFO" doc:name="Logger" doc:id="e9a76dac-c963-4104-bde4-8744f5a50411" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="fcff1d63-f09f-419c-be8e-cdc93c5dab4c" >
			<when expression="#[payload.size&gt;0]">
				<db:select doc:name="Select" doc:id="4ed980c2-3643-4b6f-a05c-277e9d13fd8f" config-ref="work_database">
					<db:sql >select * from sys_user where user_name=:a</db:sql>
					<db:input-parameters ><![CDATA[#[{a:payload.username}]]]></db:input-parameters>
				</db:select>
				<choice doc:name="Choice" doc:id="f6e208bf-5165-4e4a-a877-fcbf904df0d4" >
					<when expression="sizeOf(payload)&gt;0">
						<db:update doc:name="Update" doc:id="d41bcdff-d224-494d-95a1-b4b314f52a02" config-ref="work_database">
							<db:sql >update sys_user set passwd = '123' where user_name=:a</db:sql>
							<db:input-parameters ><![CDATA[#[{a:payload.user_name}]]]></db:input-parameters>
						</db:update>
						<logger level="INFO" doc:name="Logger" doc:id="f1ed4df1-210d-42da-83eb-aa66e94eba32" message='"The data has been updated."'/>
						<set-payload value='"The data has been updated."' doc:name="Set Payload" doc:id="582f3d73-f756-443d-82a8-d466c77942ca" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="ceb4d6e8-13ef-4fcb-90c0-2a43d2f1aa90" message='"Account does not exist."'/>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="062bc94b-1035-483c-9c63-8835cf6193db" message='"Parameters of the abnormal"'/>
				<set-payload value='"Parameters of the abnormal"' doc:name="Set Payload" doc:id="4d0246d1-6f9f-46d6-8fc1-da9af0804a75" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="e4759744-733f-488e-b24e-6b530cd13eeb" message='"-------------  END  -------------"'/>
	</flow>
	<flow name="deletUserFlow" doc:id="5482fb25-6c26-4f4b-9b61-0a566c3bb753" >
		<set-variable value="#[message.payload.username]" doc:name="Set Variable" doc:id="975f11b5-e71f-4146-9e56-889d45d39965" variableName="username"/>
		<logger level="INFO" doc:name="Logger" doc:id="8b71cf0f-e6de-4adf-9e36-f30baf57a56c" message='"---------   START   ---------"'/>
		<logger level="INFO" doc:name="Logger" doc:id="b09bc79c-3c55-46f5-9961-a9bea1c3c22d" message="#[vars.username]"/>
		<first-successful doc:name="First Successful" doc:id="9f91500c-d790-451d-9877-70439bb08534" >
			<route >
				<try doc:name="Try" doc:id="62e3dcfe-e9bc-4ff3-9a56-132b37f3345a" >
					<db:delete doc:name="Delete" doc:id="0a0ffc6f-529a-48f0-a45b-348476aec1b5" config-ref="work_database">
						<db:sql >delete from sys_user where user_name=:a</db:sql>
						<db:input-parameters ><![CDATA[#[{a:vars.username}]]]></db:input-parameters>
					</db:delete>
					<logger level="INFO" doc:name="Logger" doc:id="acba3c7f-bd26-43d7-a92d-a5424b2e98c4" message='"Information deleted"'/>
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5e927987-56d0-49ff-a353-639af3d782bc" type="ANY">
							<logger level="INFO" doc:name="Logger" doc:id="17fc91af-c6af-4f43-ae01-d6c815dfea6d" message='"The DB error: Transaction rollback."'/>
						</on-error-propagate>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="33d02041-61bf-4423-935d-e6d0c4f6b515" >
							<ee:transform doc:name="Transform Message" doc:id="8bcd3a43-e679-48ab-8644-a40eb3d5ef05" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var error = ???

---
{
	"description": error.description,
	"errorType": error.errorType.namespace
}
]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="7db6fdf3-609c-4add-9939-d76478393e1e" message='"This route is never going to be executed"'/>
			</route>
		</first-successful>
		<logger level="INFO" doc:name="Logger" doc:id="239412be-f95a-4fcd-9f4f-0ebdf30b90ea" message='"------------  END   ------------"'/>
	</flow>
</mule>
